*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(25,25,25,25);
    color: white;
    font-family: 'Quantico', sans-serif;
    min-height: 100vh;
}
header{
    font-size: 2rem;
}
header,form{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    padding-top: 0.6rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

input::placeholder{
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
}

form button{
    color: deepskyblue;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

form button:hover{
    color: white;
    background: deepskyblue;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    color:white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn{
    background: deepskyblue;
}

.trash-btn{
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background-color: lightgray;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:deepskyblue;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}